:root {
  /* MUI使うので、ここは最低限 */
  color-scheme: light;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Noto Sans JP",
    "Hiragino Sans", "Yu Gothic", sans-serif;
  background: #fff;
}

#root {
  min-height: 100%;
}